<div class="section intro" data-anchor="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h5></h5>
        <%= image_tag 'anuvisfull_02_02.svg', class: 'img-responsive intro-image' %>
        <h1>Anuvis Mejia</h1>
        <p>Full Stacks Ruby Web Developer - But it's always more than that.
         <!--  Hi, my names Anuvis Mejia a Miami based freelance web developer and designer. I passionately move pixels and lines of code to craft clean, responsive, and user-friendly websites. My current weapons of choice are Ruby on Rails, jQuery, and MySQL. Being both an engineer and designer, I help clients bring their ideas into reality. --></p>
        <br>
        <a href="#page2" class="btn btn-oye">More</a>
      </div>
    </div>
  </div>
</div>

<div class="section bio" data-anchor="page2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Anuvis's Bio</h1>
        <p>
          Hi, my names Anuvis Mejia a Miami based freelance web developer and designer. I passionately move pixels and lines of code to craft clean, responsive, and user-friendly websites. My current weapons of choice are Ruby on Rails, jQuery, and MySQL. Being both an engineer and designer, I help clients bring their ideas into reality.
        </p>
        <br>
        <a href="#page3" class="btn btn-oye">More</a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="section education" data-anchor="page3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Experience</h1>
        <br>
        <a href="#page4" class="btn btn-oye">More</a>
      </div>
    </div>
  </div>
</div>

<div class="section skills" data-anchor="page4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Education</h1>
        <br>
        <a href="#page5" class="btn btn-oye">More</a>
      </div>
    </div>
  </div>
</div> -->

<div class="section contact" data-anchor="page5">
  <div class="bkg"></div>
  <div class="container-fluid">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <div class="contact-info">
            <div class="space50"></div>
            <h2>Contact Me</h2>
            <p>Have an Idea get in contact with me.</p>
            <a href="mailto:ameji012@gmail.com?Subject=Contact" target="_top"><i class="fa fa-envelope-square fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/anuvism"><i class="fa fa-linkedin-square fa-2x"></i></a>
            <a href="https://www.facebook.com/anuvis.mejia"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a href="https://twitter.com/Anuvis_M"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="https://github.com/Ameji012"><i class="fa fa-github-square fa-2x"></i></a>
            <p><i class="fa fa-map-marker"></i> Miami, FL</p>
            
          </div>
        </div>
        <div class="col-sm-5">
          <div class="contact_form_shown">
            <%= simple_form_for ContactForm.new, remote: true, html: {class: "animated"} do |f| %>
              <%= f.error_notification %>
                <%= f.input :name, label: false, placeholder: "Name", input_html: {class: 'form-control'} %>
                <br>
                <%= f.input :email, label: false, placeholder: "Email", input_html: {class: 'form-control'} %>
                <br>
                <%= f.input :message, label: false, placeholder: "Message", as: :text, input_html: {class: 'form-control'}  %>
                <br>
                <%= f.button :submit, "Submit",:name => 'commit', :id=>"person_create_form_submit", class: 'btn btn-default'  %>
            <% end %>
          </div>
          <div class="contact_form_hidden" style="display:none;">
            <h2>Thanks</h2>
            <p>I will be in contact shortly</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
